@charset "UTF-8";
html, body { height: 100%; width: 100%; }

@font-face { font-family: "Conv_BOLD_0"; src: url("../fonts/BOLD_0.eot"); src: local("☺"), url("../fonts/BOLD_0.woff") format("woff"), url("../fonts/BOLD_0.ttf") format("truetype"), url("../fonts/BOLD_0.svg") format("svg"); font-weight: normal; font-style: normal; }
.navbar-nav li a { padding-top: 1px !important; padding-bottom: 1px !important; }

.navbar { min-height: 32px !important; }

.infinite { animation-iteration-delay: 5s; }

.navbar-brand { margin: -2.5% 1%; }

h1, h2, h3, h4, h5, h6 { font-family: "Conv_BOLD_0"; }

.card { padding: 10px; }

.sga .card { background-color: rgba(0, 0, 0, 0); border: none; }

.card-title { padding: 0; }

.herramientas { background-color: #1E79D3; color: white; }

.informe { background-color: #504AD1; color: white; }

.estadisticas { background-color: #B53A88; color: white; }

.sga { background-image: url(../img/1x/fondo-1.jpg); background-size: cover; color: white; margin-bottom: 0; }

.footer { text-align: center; background-image: url(../img/1x/footer.jpg); background-size: cover; margin: 0; color: white; padding: 15px; box-sizing: border-box; }

.footer a { color: white; }

.footer a:hover { transform: scale(1.2); color: blue; }

.logo-footer { height: auto; width: 12vw; }

.titulo { color: white; text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.7); position: absolute; top: 30%; left: 50%; z-index: 2; }

.titulo h1 { font-size: 5em; }

.titulo p { font-size: 2em; }

.un-segundo { animation-delay: 1s; }

.dos-segundos { animation-delay: 2s; }

.mision { background-color: #F1D435; border: none; padding: none; text-align: center; color: white; }

.vision { background-color: #A3D741; border: none; padding: none; text-align: center; color: white; }

.saberVB, .matematicasIB, .miCV { text-align: center; padding: 5vh; margin-bottom: -1%; cursor: pointer; color: white; padding: 5vw 10vw; }

.saberVB { background-color: #F17224; }

.saberVB .card-deck .card { background-color: #F17224; color: white; border: none; background-size: contain; background-repeat: no-repeat; background-position: center center; padding: 0; }

.saberVB .card-deck .card .card-body { margin: 0; background-color: rgba(241, 114, 36, 0.7); color: white; flex-direction: column; }

.saberVB .card-deck .card:nth-child(1) { background-image: url("../img/iconos/computer.png"); height: 30vh; }

.saberVB .card-deck .card:nth-child(2) { background-image: url("../img/iconos/document.png"); height: 30vh; }

.saberVB .card-deck .card:nth-child(3) { background-image: url("../img/iconos/browser1 (1).png"); height: 30vh; }

.miCV { background-color: #CD386B; }

.miCV .card-deck .card { background-color: #CD386B; color: white; border: none; background-size: contain; background-repeat: no-repeat; background-position: center center; padding: 0; }

.miCV .card-deck .card .card-body { background-color: rgba(205, 56, 107, 0.7); color: white; padding: 0 4vw; box-sizing: border-box; margin: 0; }

.miCV .card-deck .card:nth-child(1) { background-image: url("../img/iconos/document.png"); height: 25vh; }

.miCV .card-deck .card:nth-child(2) { background-image: url("../img/iconos/analytics5.png"); height: 25vh; }

.matematicasIB { background-color: #D2292C; }

.matematicasIB .card-deck .card { background-color: #D2292C; color: white; border: none; background-size: contain; background-repeat: no-repeat; background-position: center center; padding: 0; }

.matematicasIB .card-deck .card .card-body { background-color: rgba(210, 41, 44, 0.7); color: white; margin: 0; }

.matematicasIB .card-deck .card:nth-child(1) { background-image: url("../img/iconos/document.png"); height: 30vh; }

.matematicasIB .card-deck .card:nth-child(2) { background-image: url("../img/iconos/analytics (1).png"); height: 30vh; }

.matematicasIB .card-deck .card:nth-child(3) { background-image: url("../img/iconos/analytics5.png"); height: 30vh; }

.formulario { width: 50vw; }

.desaparece { display: inline-block; position: fixed; top: 10%; right: 40%; z-index: 9999; cursor: pointer; }

.alertaSC { display: inline-flex; flex-direction: column; z-index: 9999; position: fixed; top: 20vh; right: 0; }

.abrir { display: flex; height: auto; flex-direction: column; justify-content: center; align-items: center; border-radius: 10px 10px 0 0; }

.contenidoSC { display: inline-flex; border-radius: 0 0 10px 10px; }

.listaSC { list-style: none !important; padding: 3px; }

.mv { width: 8vw; height: auto; }

.fa-facebook, .fa-envelope { padding: 5px; border: 1px solid white; border-radius: 50%; }

#return-to-top i { color: rgba(0, 0, 0, 0.3); font-size: 4rem; position: fixed; bottom: 2vh; right: 2vh; z-index: 10; }

.loader { border: 16px solid #f3f3f3; border-top: 16px solid #3498db; border-radius: 50%; width: 120px; height: 120px; animation: spin 2s linear infinite; z-index: 15; position: fixed; top: 50vh; left: 50vw; display: none; }

@keyframes spin { 0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); } }
@media only screen and (max-width: 800px) { .carousel .titulo { display: flex; justify-content: center; align-content: center; align-items: center; flex-direction: column; text-align: center; left: 0; right: 0; }
  .titulo h1 { font-size: 2em; }
  .titulo p { font-size: 1em; }
  .logo-footer { height: auto; width: 30vw; }
  .jumbotron-fluid .container { text-align: center; display: flex; flex-direction: column; align-content: center; justify-content: center; }
  .navbar-collapse ul li { padding: 1%; text-align: center; }
  .navbar-collapse ul li:nth-child(2), .collapse ul li:nth-child(4) { background-color: #e5e5e5; }
  .matematicasIB .card-deck .card:nth-child(1) { margin: 2vh 0; }
  .matematicasIB .card-deck .card:nth-child(2) { margin: 2vh 0; }
  .matematicasIB .card-deck .card:nth-child(3) { margin: 2vh 0; } }

/*# sourceMappingURL=styles.css.map */
